/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body{
	margin: 2% auto 5% auto;
	width: 1000px;
}
/*Navigation area with picture*/
a{
	text-decoration: none;
}
.mainNav{
	display: flex;
	justify-content: space-between;
}
.navigation a{
	display: flex;
	justify-content: space-between;
}

/*Main header with circular code pic*/

header{
	border-bottom: 1px solid gray;
	padding-bottom: 20px;
}
.entire{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.header-left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 60px;
	width: 600px;
	}
.header-left h1{
	text-align: center;
}

}
.started{
	font-size: 20px;
	border: 2px solid gray;
	width: 200px;
	display: inline-block;
	height: 30px;
	padding: 3px;
	
	}
/*Info section 1*/
.infoTop{
	display:flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
	
}
.featsect{
	display:flex;
	flex-direction:column;
	width: 46%;
	border: 
}
		

.aboutsect{
	display: flex;
	flex-direction: column;
	width: 46%;
	
	
}
/*Wide code pic*/
.middle-img{
	width: 100%;
	margin-bottom: 30px;
}
/*Info section 2*/
.infoBottom{
	display: flex;
	justify-content: space-between;
	
	margin-bottom: 30px;
}
.servsect{
	display: flex;
	flex-direction: column;
	width: 32%;
	height: 120px;
	}
.prodsect{
	display: flex;
	flex-direction: column;
	width: 32%;
}
.vissect{
	display: flex;
	flex-direction: column;
	width: 32%;
}
/*Address section didn't require CSS*/
/*Copyright footer*/
.foot{
	width: 100%;
	text-align: center;
}

/* This is the services page */
 .entireNav{
	 display: flex;
	 justify-content: space-between;
	 margin-bottom: 30px;
 }
 .nav2{
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 width: 70%;
 }
 .services-header-img{
	 width: 100%;
	 margin-bottom: 30px;
 }
 .services{
	 display: flex;
	 flex-direction: column;
	 padding-bottom: 25px;
	 border-bottom: 1px solid gray;
	 margin-bottom: 25px;
 }
 .categories{
	 display: flex;
	 flex-wrap: wrap;
	 border-bottom: 2px solid black;
	 justify-content: space-between;
	 margin-bottom: 20px;
	 
 }
 .digdes{
	display: flex;
	flex-direction: column;
	width:48%;
	padding: 15px;
	border: 1px solid black;
	background: lightgray;
	margin-bottom: 20px;
 }
 .uxui{
	display: flex;
	flex-direction: column;
	width:48%;
	padding: 15px;
	border: 1px solid black;
	background: lightgray;
	margin-bottom: 20px;
 }
 .digmark{
	display: flex;
	flex-direction: column;
	width:48%;
	padding: 15px;
	border: 1px solid black;
	background: lightgray;
	margin-bottom: 20px;
 }
.webdev{
	display: flex;
	flex-direction: column;
	width:48%;
	padding: 15px;
	border: 1px solid black;
	background: lightgray;
	margin-bottom: 20px;
}
.ios{
	display: flex;
	flex-direction: column;
	width:48%;
	padding: 15px;
	border: 1px solid black;
	background: lightgray;
	margin-bottom: 20px;
}
.anddev{
	display: flex;
	flex-direction: column;
	width:48%;
	padding: 15px;
	border: 1px solid black;
	background: lightgray;
	margin-bottom: 20px;
}
 button{
	 width: 120px;
	 margin-top: 15px;
 }
 /*Facts about services*/
.finalSect{
	display: flex;
	justify-content: space-between;
}
.facts{
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	justify-content: space-evenly;
}

@media (max-width: 800px){
    body{
        
        width: 800px;
    }
    .middle-img{
        width: 90%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .codepic{
        display: none;
    }
    .entireNav{
        display: flex;
        flex-direction: column-reverse;
        width: 95%
    }
    .nav2{
        display: flex;
        width: 95%;
        justify-content: space-between;
        margin-left: 3%;
        margin-right: 3%;
    }
    .idea{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 30px;
    }
    .infoBottom{
        display: flex;
        width: 90%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .infoTop{
        display: flex;
        width: 90%;
        margin-left: 3%;
        margin-right: 3%;
    }
    .address{
        margin-left: 3%;
    }
    

    @media (max-width: 500px){
        body{
            width: 500px;
        }
        .nav2{
            display: flex;
            flex-direction: column;
        }
        a{
            width: 100%;
            border: 1px solid gray;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .infoTop{
            display: flex;
            flex-direction: column;
            width: 95%;
            
        }
        .featsect{
            margin-bottom: 25px;
            width: 95%;
            
        }
        .aboutsect{
            width: 95%;

        }
        .infoBottom{
            display: flex;
            flex-direction: column;
        }
        .servsect{
            width: 95%;
            margin-bottom: 25px;
        }
        .prodsect{
            margin-bottom: 25px;
            width: 95%;
        }
        .vissect{
            width: 95%;
        }
        .foot{
            width: 100%;
            align-text: center;
        }
        .header-left{
            width: 100%;
            justify-content: center;
        }
    }